<section ng-if='notification' class="animate notification {{ notification.type }}">
  {{ notification.message }}
  <a class='close' href='javascript:;' ng-click='dismissNotification()'>x</a>
</section>
