<% content_for :css do -%>
  <%= stylesheet_link_tag 'application.css', media: 'screen' %>
<% end -%>
<div ng-app='ironalumni' class="container">
  <%= render 'message' %>
  <%= render 'side_panel' %>
  <div class="main-container">
    <ng-view class='content' />
  </div>
</div>

<script src='//crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/holder/2.3.1/holder.js'></script>
<%= javascript_include_tag 'application' %>
