<material-card style='padding: 0;'>
  <material-toolbar layout='vertical' class='material-whiteframe-z1'>
    <div class='material-toolbar-tools {{ styles[course.course_type] }}'>
      <b>{{ course.course_type }}</b> bootcamp
      in <b>{{ course.city }}</b>
    </div>
    <div class="material-toolbar-tools {{ styles[course.course_type] }}">
      <span style='font-size: 14px;'>from <i>{{ course.start_date | date: 'longDate' }}</i> to <i>{{ course.end_date | date: 'longDate' }}</i></span>
    </div>
  </material-toolbar>
  <material-content class='material-content-padding'>
    <material-list>

      <material-item ng-repeat="member in course.members">
        <div class="material-tile-content">
          <h2>{{ member.name }} {{ member.last_name }}</h2>
          <h3>{{ member.email }}</h3>
          <p>
            {{ member.summary }}
          </p>
        </div>
      </material-item>

    </material-list>
  </material-content>
</material-card>
