<material-content layout='horizontal' layout-fill>
  <form ng-submit='updateAttrs(member)' layout-padding>
    <div layout='horizontal'>
      <material-input-group class="material-input-group-theme-light">
        <label for='i1'>Name</label>
        <material-input id='i1' type="text" ng-model='member.name'>
      </material-input-group>
      <span flex></span>
      <material-input-group class="material-input-group-theme-light">
        <label for='i2'>Surname</label>
        <material-input id='i2' type="text" ng-model='member.last_name'/>
      </material-input-group>
    </div>

    <material-input-group class="material-input-group-theme-light">
      <label for='i3'>Email</label>
      <material-input id='i3' type="text" ng-model='member.email'/>
    </material-input-group>

    <label for="i4">Summary</label>
    <textarea id='i4' ng-model='member.summary' rows='10' cols='50' style='width: auto; height: auto; background-color: #eee;'></textarea>

    <material-input-group class="material-input-group-theme-light">
      <label for='i5'>Password</label>
      <material-input id='i5' type="password" ng-model='member.current_password' />
    </material-input-group>

    <material-input type='submit' value='update' />
  </form>
  </material-card>
</material-content>
