@mixin items-transition {
  @include transition(125ms cubic-bezier(0.250, 0.250, 0.750, 0.750) opacity);
}
$border: 1px solid rgba($base-font-color, .2);

.side-panel {
  background-color: $side-panel-bg-color;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.3);

  .card {
    @include calc(width, '100% - #{$base-unit}');
    margin: $base-unit / 2 $base-unit / 2 0;
  }
}

.side-panel .menu {
  li {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    height: $unit * 2;
    position: relative;
    padding: $unit / 2;
    display: block;
    width: 100%;
    border-top: $border;
    border-right: $border;
    &:first-child { border-top: none; }
    &:last-child  { border-bottom: $border; }
    a:not(:first-child) {
      font-weight: bold;
      position: relative; z-index: 1; }
    .overlay {
      @include items-transition;
      z-index: 0;
      background-color: darken($side-panel-bg-color, 10%);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      height: 100%;
    }

    &:hover { cursor: pointer; }
    &:not(:first-child):hover .overlay {
      opacity: 1;
    }
  }

  a {
    color: $base-font-color;
    &:hover {
      color: darken($base-font-color, 10%);
    }
  }
}
