/*
 *= require pace/themes/blue/pace-theme-minimal
 *= require material/angular-material
 *= require_self
 */
$unit: 1.5rem;

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);
@import 'bourbon';
@import 'bitters/variables';
@import 'variables';
@import 'notifications';

* { box-sizing: border-box; }
html { height: 100%; }
body {
  line-height: $unit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}
.material-button-raised,
.material-button-raised.section material-button,
section .material-button,
material-button.big {
  display: inline-block;
  width: 9em;
  margin: .3em;
  line-height: 25px;
}

.material-button-fab { z-index: 99 !important; position: fixed; right: 28px; background-color: white; }
.material-sidenav-left .material-button-colored {
  color: white;
  &:hover{
    background-color: rgba(white, .2);
  }
}

.material-theme-light-green {
  @extend .material-theme-green;
  padding: $unit / 2 $unit / 2;
  height: auto;
  color: white;
  background-color: tint(#0f9d58, 3%) !important;
}

.face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px;
}
