<!DOCTYPE html>
<html>
<head>
  <title>IronAlumni</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= yield :css %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div ng-app='ironalumni' layout-fill>
    <%= yield %>
  </div>
</body>
</html>
