<!DOCTYPE html>
<html>
<head>
  <title>IronAlumni</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app='ironalumni'>
  <nav class="navbar">
    <div class="container">
      <a class='navbar-item navbar-link' href='javascript:;' ng-click='goto("/signin")'>sign in</a>
      <a class='navbar-item navbar-link' href='javascript:;' ng-click='goto("/signup")'>sign up</a>
      <a class='navbar-item navbar-link' href='javascript:;' ng-click='goto("/members")'>members</a>
      <a class='navbar-item navbar-link' href='javascript:;' ng-click='signout()'>logout</a>
      <span ng-if='member' class='navbar-item pull-right'>
        signed in as <a href='javascript:;' ng-click='goto("/members/" + member.id)'>{{ member.email }}</a>
      </span>
    </div>
  </nav>
  <section class='container'>
    <div  ng-view>
      <%= yield %>
    </div>

  </section>
  <%= javascript_include_tag 'application' %>
</body>
</html>
