<!DOCTYPE html>
<html>
<head>
  <title>IronAlumni</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app='ironalumni'>
  <!-- <nav class="navbar">
      <a class='navbar-item navbar-link' href='javascript:;' ng-click='goto("/signin")'>sign in</a>
      <a class='navbar-item navbar-link' href='javascript:;' ng-click='goto("/signup")'>sign up</a>
      <a class='navbar-item navbar-link' href='javascript:;' ng-click='goto("/members")'>members</a>
  </nav> -->
  <div class="container">
    <nav class="side-panel">
      <div class="card">
        <div class="card-image">
          <img gravatar-image data-gravatar-email='{{ member.email }}' alt="">
        </div>
        <div class="card-header">
          {{ member.email }}
        </div>
        <div class="card-copy">
          {{ member.name }} <br />
          {{ member.summary | limitTo: 200 }}
        </div>
        <div class="card-stats">
          <ul>
            <li>98<span>Items</span></li>
            <li>298<span>Things</span></li>
            <li>923<span>Objects</span></li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a href='javascript:;' ng-click='goto("/members")'>members</a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class='navbar-item navbar-link' href='javascript:;' ng-click='signout()'>logout</a>
        </div>
      </div>
    </nav>
    <ng-view class='content' />
  </div>

  <script src='//crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/holder/2.3.1/holder.js'></script>
  <%= javascript_include_tag 'application' %>
</body>
</html>
